@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-navbar-ring: var(--navbar-ring);
    --color-navbar-border: var(--navbar-border);
    --color-navbar-accent-foreground: var(--navbar-accent-foreground);
    --color-navbar-accent: var(--navbar-accent);
    --color-navbar-primary-foreground: var(--navbar-primary-foreground);
    --color-navbar-primary: var(--navbar-primary);
    --color-navbar-foreground: var(--navbar-foreground);
    --color-navbar: var(--navbar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: #101010;
    --foreground: #FBFBFB;
    --primary: #EBEBEB;
    --primary-foreground: #343434;
    --secondary: #454545;
    --secondary-foreground: #FBFBFB;
    --muted: #454545;
    --muted-foreground: #B4B4B4;
    --accent: #454545;
    --accent-foreground: #FBFBFB;
    --destructive: #DC2626;
    --border: rgba(255, 255, 255, 0.1);
    --input: rgba(255, 255, 255, 0.15);
    --ring: #8E8E8E;
    --chart-1: #7C4DFF;
    --chart-2: #4CAF50;
    --chart-3: #F4D03F;
    --chart-4: #9B59B6;
    --chart-5: #E67E22;
    --navbar: #343434;
    --navbar-foreground: #FBFBFB;
    --navbar-primary: #7C4DFF;
    --navbar-primary-foreground: #FBFBFB;
    --navbar-accent: #454545;
    --navbar-accent-foreground: #FBFBFB;
    --navbar-border: rgba(255, 255, 255, 0.1);
    --navbar-ring: #8E8E8E;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}